.footer {
    text-align: center;
    padding: 50px 20%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .column {
        width: 30%;
        padding-top: 8px;
        @media (max-width: 428px) {
            width: 100%;
            margin-left: 0;
            margin-top: 20px;
        }
        > div:nth-child(1) {
            font-size: 20px;
            font-weight: 300;
            letter-spacing: 4px;
        }
        > div:nth-child(2) {
            padding-top: 50px;
            font-size: 16px;
            font-weight: 200;
            letter-spacing: 2px;
            > a {
                color: white;
            }
        }
        .social {
            display: flex;
            justify-content: space-between;
            padding: 0 15%;
            > img {
                margin-right: 10px;
            }
        }
    }
}
